*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.headerContainer {
    max-width: 1200px;
    margin: 0 auto;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
}

.logo {
    display: flex;
    justify-content: center;
    align-content: start;
    align-items: center;
    margin-left: 10px;
}

.logoImg {
    width: 250px;
    cursor: pointer;
}

.oneImg {
    width: 30px;
    cursor: pointer;
}

.header__right {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-right: 20px;
}

.header__right img {
    width: 30px;
    cursor: pointer;
}

.header__right span {
    font-size: 24px;
    cursor: pointer;
}

#header__user {
    margin: 0 10px;
    cursor: pointer;
}

/* #header__login {
    
} */